.sertificate {
  padding: 13px 17px 13px 17px;
  max-width: 430px;
  background: linear-gradient(322.57deg, #186e9e -9.6%, #bad4e2 106.67%);
}
.sertificate img {
  max-width: 88vw;
  max-height: 276px;
  transition-duration: 1s;
}